#no binaries
*.exe
*.lib
*.dll
*.exp
*.ilk
*.pdb

#no project files
*.suo

#no backup directory
/backups

#no build directory
/msc100_64

#no sandbox directory
/Sandbox

#no cmake module directory
/CMakeModules