##################Debug Pass##################
Renderpass 0

Shader
Shadersource/Mesh/NoLightingPass/SkinnedTexture
Shadersource/Mesh/NoLightingPass/skinnedTex.vert
Shadersource/Mesh/NoLightingPass/Tex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/NoLightingPass/SkinnedUniColor
Shadersource/Mesh/NoLightingPass/skinnedUniColor.vert
Shadersource/Mesh/NoLightingPass/UniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/NoLightingPass/SkinnedVertexColor
Shadersource/Mesh/NoLightingPass/skinnedVertexColor.vert
Shadersource/Mesh/NoLightingPass/VertexColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/NoLightingPass/StaticTex
Shadersource/Mesh/NoLightingPass/staticTex.vert
Shadersource/Mesh/NoLightingPass/Tex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/NoLightingPass/StaticUniColor
Shadersource/Mesh/NoLightingPass/staticUniColor.vert
Shadersource/Mesh/NoLightingPass/UniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/NoLightingPass/StaticVertexColor
Shadersource/Mesh/NoLightingPass/staticVertexColor.vert
Shadersource/Mesh/NoLightingPass/VertexColor.frag
NULL
NULL
NULL

##################GBuffer Pass##################
Renderpass 1

Shader
Shadersource/Mesh/GBufferPass/SkinnedNormalTexture
Shadersource/Mesh/GBufferPass/skinnedNormalTex.vert
Shadersource/Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/SkinnedNormalUniColor
Shadersource/Mesh/GBufferPass/skinnedNormalUniColor.vert
Shadersource/Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/SkinnedNormalVertexColor
Shadersource/Mesh/GBufferPass/skinnedNormalVertexColor.vert
Shadersource/Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/SkinnedTexture
Shadersource/Mesh/GBufferPass/skinnedTex.vert
Shadersource/Mesh/GBufferPass/tex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/SkinnedUniColor
Shadersource/Mesh/GBufferPass/skinnedUniColor.vert
Shadersource/Mesh/GBufferPass/uniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/SkinnedVertexColor
Shadersource/Mesh/GBufferPass/skinnedVertexColor.vert
Shadersource/Mesh/GBufferPass/vertexColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticNormalTex
Shadersource/Mesh/GBufferPass/staticNormalTex.vert
Shadersource/Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticNormalUniColor
Shadersource/Mesh/GBufferPass/staticNormalUniColor.vert
Shadersource/Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticNormalVertexColor
Shadersource/Mesh/GBufferPass/staticNormalVertexColor.vert
Shadersource/Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticTex
Shadersource/Mesh/GBufferPass/staticTex.vert
Shadersource/Mesh/GBufferPass/tex.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticUniColor
Shadersource/Mesh/GBufferPass/staticUniColor.vert
Shadersource/Mesh/GBufferPass/uniColor.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/GBufferPass/StaticVertexColor
Shadersource/Mesh/GBufferPass/staticVertexColor.vert
Shadersource/Mesh/GBufferPass/vertexColor.frag
NULL
NULL
NULL

##################ReflectiveShadowMapping Pass##################
Renderpass 5

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalTexture
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedTexture
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalTex
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticTex
Shadersource/Mesh/ReflectiveShadowMappingPass/staticTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.geom
NULL
NULL

Shader
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.frag
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.geom
NULL
NULL

##################ShadowMapping Pass##################
Renderpass 6

Shader
Shadersource/Mesh/ShadowMappingPass/SkinnedSM
Shadersource/Mesh/ShadowMappingPass/skinned.vert
Shadersource/Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/ShadowMappingPass/StaticSM
Shadersource/Mesh/ShadowMappingPass/static.vert
Shadersource/Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/Static Paraboloid SM
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/paraboloidStatic.vert
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/paraboloidZOut.frag
NULL
NULL
NULL

Shader
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/Skinned Paraboloid SM
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/paraboloidSkinned.vert
Shadersource/Mesh/ShadowMappingPass/ParaboloidShadowMappingPass/paraboloidZOut.frag
NULL
NULL
NULL

##################Indirect ShadowMapping Pass##################
Renderpass 2

Shader
Shadersource/Mesh/IndirectShadowMappingPass/ISM Creation Shader
Shadersource/Mesh/IndirectShadowMappingPass/paraboloidCaches.vert
Shadersource/Mesh/IndirectShadowMappingPass/zOut.frag
Shadersource/Mesh/IndirectShadowMappingPass/paraboloidCaches.geom
NULL
NULL

##################Indirect ShadowMap Backprojection Pass##################
Renderpass 19

Shader
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/Static Paraboloid Backprojection Shader
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidStatic.vert
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidZOut.frag
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidTransform.geom
NULL
NULL

Shader
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/Skinned Paraboloid Backprojection Shader
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidSkinned.vert
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidZOut.frag
Shadersource/Mesh/IndirectShadowMappingPass/IndirectParaboloidShadowMappingPass/paraboloidTransform.geom
NULL
NULL

####################################POSTPROCESSING####################################

##################Combine Shader##################
Renderpass 8

Shader
Shadersource/Postprocessing/CombineShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/combineShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Direct Light Shader##################
Renderpass 9

Shader
Shadersource/Postprocessing/DirectLightShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/directLightShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Downsampling Shader##################
Renderpass 10

Shader
Shadersource/Postprocessing/DownsamplingShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/downsamplingShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Offscreen Buffer Shader##################
Renderpass 11

Shader
Shadersource/Postprocessing/ShowDebugTextureShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/showDebugTextureShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Tonemapping Shader##################
Renderpass 12

Shader
Shadersource/Postprocessing/TonemappingShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/tonemappingShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Histogram Shader##################
Renderpass 13

Shader
Shadersource/Postprocessing/HistogramShader
Shadersource/Postprocessing/histogramShader.vert
Shadersource/Postprocessing/histogramShader.frag
NULL
NULL
NULL

##################Push Shader##################
Renderpass 18

Shader
Shadersource/Postprocessing/Push Shader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/pushShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Pull Shader##################
Renderpass 23

Shader
Shadersource/Postprocessing/Pull Shader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/pullShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Jump Flood Algorithm Shader##################
Renderpass 20

Shader
Shadersource/Postprocessing/Jump Flood Algorithm
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/jumpFloodAlgorithmShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Show Voronoi Diagram Shader##################
Renderpass 22

Shader
Shadersource/Postprocessing/Show Voronoi Diagram
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/showVoronoiDiagram.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Separated Blur Shader##################
Renderpass 3

Shader
Shadersource/Postprocessing/Separated Blur Shader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/separatedBlur.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Indirect Specular Light Shader##################
Renderpass 25

Shader
Shadersource/Postprocessing/Indirect Specular Light Shader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/indirectSpecularLightShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Integer Debug Texture Shader##################
Renderpass 26

Shader
Shadersource/Postprocessing/Integer Debug Texture Shader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/showIntegerDebugTextureShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Specular Jump Flood Algorithm Shader##################
Renderpass 27

Shader
Shadersource/Postprocessing/Specular Jump Flood Algorithm
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/specularJumpFloodAlgorithmShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Specular Jump Flood Algorithm Removal Shader##################
Renderpass 28

Shader
Shadersource/Postprocessing/Specular Jump Flood Algorithm Island Removal
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/jumpFloodAlgorithmIslandRemovalShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

##################Indirect Specular Error Spot Lighting Shader##################
Renderpass 32

Shader
Shadersource/Postprocessing/Indirect Specular Error Spot Lighting
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/indirectSpecularErrorSpotsLightingShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL
NULL

####################################MISC####################################

##################Billboard Shader##################
Renderpass 14

Shader
Shadersource/Misc/BillboardShader
Shadersource/Misc/billboardShader.vert
Shadersource/Misc/billboardShader.frag
Shadersource/Misc/billboardShader.geom
NULL
NULL

##################Skybox Shader##################
Renderpass 15

Shader
Shadersource/Misc/SkyboxShader
Shadersource/Misc/skyboxShader.vert
Shadersource/Misc/skyboxShader.frag
NULL
NULL
NULL

##################Sprite Shader##################
Renderpass 16

Shader
Shadersource/Misc/SpriteShader
Shadersource/Misc/spriteShader.vert
Shadersource/Misc/spriteShader.frag
Shadersource/Misc/spriteShader.geom
NULL
NULL

##################String 2D Shader##################
Renderpass 17

Shader
Shadersource/Misc/StringShader2D
Shadersource/Misc/stringShader2D.vert
Shadersource/Misc/stringShader2D.frag
NULL
NULL
NULL

##################Paraboloid Voronoi Site Projection Pass##################
Renderpass 21

Shader
Shadersource/Misc/Paraboloid Voronoi Site Projection Shader
Shadersource/Misc/paraboloidVoronoiSite.vert
Shadersource/Misc/paraboloidVoronoiSite.frag
Shadersource/Misc/paraboloidVoronoiSite.geom
NULL
NULL

##################Specular Cache Index Map Creation Pass##################
Renderpass 24

Shader
Shadersource/Misc/Specular Cache Index Map Creation Shader
Shadersource/Misc/specularCacheIndexMapCreation.vert
Shadersource/Misc/specularCacheIndexMapCreation.frag
Shadersource/Misc/specularCacheIndexMapCreation.geom
NULL
NULL

##################Show Specular Cache Delaunay Triangulation Pass##################
Renderpass 29

Shader
Shadersource/Misc/Show Specular Cache Delaunay Triangulation Shader
Shadersource/Misc/specularCacheShowDelaunayTriangulation.vert
Shadersource/Misc/specularCacheShowDelaunayTriangulation.frag
Shadersource/Misc/specularCacheShowDelaunayTriangulation.geom
NULL
NULL

##################Refine Specular Cache Delaunay Triangulation Pass##################
Renderpass 31

Shader
Shadersource/Misc/Refine Specular Cache Delaunay Triangulation Shader
Shadersource/Misc/specularCacheShowDelaunayTriangulation.vert
Shadersource/Misc/specularCacheRefineDelaunayTriangulation.frag
Shadersource/Misc/specularCacheShowDelaunayTriangulation.geom
NULL
NULL

##################Show Lines Pass##################
Renderpass 33

Shader
Shadersource/Misc/Show Lines Shader
Shadersource/Misc/showLines.vert
Shadersource/Misc/showLines.frag
NULL
NULL
NULL