#############################################
#VertexDeclaration:
#MODEL_POSITION = 1,
#MODEL_TEXTURE0 = 2,
#MODEL_TEXTURE1 = 4,
#MODEL_TEXTURE2 = 8,
#MODEL_TEXTURE3 = 16,
#MODEL_NORMAL = 32,
#MODEL_BINORMAL = 64,
#MODEL_BONE_WEIGHTS = 128,
#MODEL_BONE_INDICES = 256,
#MODEL_COLOR = 512,
#MODEL_CACHEINDICES0 = 1024,
#MODEL_CACHEINDICES1 = 2048,
#SPECIAL0 = 4096,
#SPECIAL1 = 8192,
#SPECIAL2 = 16384,
#############################################

##################Debug Pass##################
RenderPass 0

VertexDeclaration 387
Shadersource/Mesh/DebugPass/SkinnedTexture
Shadersource/Mesh/DebugPass/skinnedTex.vert
Shadersource/Mesh/DebugPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 385
Shadersource/Mesh/DebugPass/SkinnedUniColor
Shadersource/Mesh/DebugPass/skinnedUniColor.vert
Shadersource/Mesh/DebugPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 897
Shadersource/Mesh/DebugPass/SkinnedVertexColor
Shadersource/Mesh/DebugPass/skinnedVertexColor.vert
Shadersource/Mesh/DebugPass/VertexColor.frag
NULL
NULL
NULL

VertexDeclaration 3
Shadersource/Mesh/DebugPass/StaticTex
Shadersource/Mesh/DebugPass/staticTex.vert
Shadersource/Mesh/DebugPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 1
Shadersource/Mesh/DebugPass/StaticUniColor
Shadersource/Mesh/DebugPass/staticUniColor.vert
Shadersource/Mesh/DebugPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 513
Shadersource/Mesh/DebugPass/StaticVertexColor
Shadersource/Mesh/DebugPass/staticVertexColor.vert
Shadersource/Mesh/DebugPass/VertexColor.frag
NULL
NULL
NULL

##################GBuffer Pass##################
RenderPass 1

VertexDeclaration 483
Shadersource/Mesh/GBufferPass/SkinnedNormalTexture
Shadersource/Mesh/GBufferPass/skinnedNormalTex.vert
Shadersource/Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 481
Shadersource/Mesh/GBufferPass/SkinnedNormalUniColor
Shadersource/Mesh/GBufferPass/skinnedNormalUniColor.vert
Shadersource/Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 993
Shadersource/Mesh/GBufferPass/SkinnedNormalVertexColor
Shadersource/Mesh/GBufferPass/skinnedNormalVertexColor.vert
Shadersource/Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 419
Shadersource/Mesh/GBufferPass/SkinnedTexture
Shadersource/Mesh/GBufferPass/skinnedTex.vert
Shadersource/Mesh/GBufferPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 417
Shadersource/Mesh/GBufferPass/SkinnedUniColor
Shadersource/Mesh/GBufferPass/skinnedUniColor.vert
Shadersource/Mesh/GBufferPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 929
Shadersource/Mesh/GBufferPass/SkinnedVertexColor
Shadersource/Mesh/GBufferPass/skinnedVertexColor.vert
Shadersource/Mesh/GBufferPass/VertexColor.frag
NULL
NULL
NULL

VertexDeclaration 99
Shadersource/Mesh/GBufferPass/StaticNormalTex
Shadersource/Mesh/GBufferPass/staticNormalTex.vert
Shadersource/Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 97
Shadersource/Mesh/GBufferPass/StaticNormalUniColor
Shadersource/Mesh/GBufferPass/staticNormalUniColor.vert
Shadersource/Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 609
Shadersource/Mesh/GBufferPass/StaticNormalVertexColor
Shadersource/Mesh/GBufferPass/staticNormalVertexColor.vert
Shadersource/Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 35
Shadersource/Mesh/GBufferPass/StaticTex
Shadersource/Mesh/GBufferPass/staticTex.vert
Shadersource/Mesh/GBufferPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 33
Shadersource/Mesh/GBufferPass/StaticUniColor
Shadersource/Mesh/GBufferPass/staticUniColor.vert
Shadersource/Mesh/GBufferPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 545
Shadersource/Mesh/GBufferPass/StaticVertexColor
Shadersource/Mesh/GBufferPass/staticVertexColor.vert
Shadersource/Mesh/GBufferPass/VertexColor.frag
NULL
NULL
NULL

####################################INDEX PASSES####################################
RenderPass 4

VertexDeclaration 3457
Shadersource/Mesh/IndexPass/SkinnedIndexShader
Shadersource/Mesh/IndexPass/skinned.vert
Shadersource/Mesh/IndexPass/index.frag
Shadersource/Mesh/IndexPass/skinned.geom
NULL
NULL

VertexDeclaration 3073
Shadersource/Mesh/IndexPass/StaticIndexShader
Shadersource/Mesh/IndexPass/static.vert
Shadersource/Mesh/IndexPass/index.frag
Shadersource/Mesh/IndexPass/static.geom
NULL
NULL

##################ReflectiveShadowMapping Pass##################
RenderPass 5

VertexDeclaration 483
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalTexture
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 481
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 993
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedNormalVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedNormalVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 419
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedTexture
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 417
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 929
Shadersource/Mesh/ReflectiveShadowMappingPass/SkinnedVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/skinnedVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.frag
NULL
NULL
NULL

VertexDeclaration 99
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalTex
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 97
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 609
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticNormalVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticNormalVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 35
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticTex
Shadersource/Mesh/ReflectiveShadowMappingPass/staticTex.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 33
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticUniColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticUniColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 545
Shadersource/Mesh/ReflectiveShadowMappingPass/StaticVertexColor
Shadersource/Mesh/ReflectiveShadowMappingPass/staticVertexColor.vert
Shadersource/Mesh/ReflectiveShadowMappingPass/VertexColor.frag
NULL
NULL
NULL

##################ShadowMapping Pass##################
RenderPass 6

VertexDeclaration 385
Shadersource/Mesh/ShadowMappingPass/SkinnedSM
Shadersource/Mesh/ShadowMappingPass/skinned.vert
Shadersource/Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

VertexDeclaration 1
Shadersource/Mesh/ShadowMappingPass/StaticSM
Shadersource/Mesh/ShadowMappingPass/static.vert
Shadersource/Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

##################Indirect Light Interpolation Pass##################
RenderPass 7

VertexDeclaration 3489
Shadersource/Mesh/IndirectLightPass/SkinnedIndirectLightInterpolation
Shadersource/Mesh/IndirectLightPass/skinned.vert
Shadersource/Mesh/IndirectLightPass/indirectLight.frag
NULL
NULL
NULL

VertexDeclaration 3105
Shadersource/Mesh/IndirectLightPass/StaticIndirectLightInterpolation
Shadersource/Mesh/IndirectLightPass/static.vert
Shadersource/Mesh/IndirectLightPass/indirectLight.frag
NULL
NULL
NULL

####################################POSTPROCESSING####################################

##################Combine Shader##################
RenderPass 8

VertexDeclaration 8192
Shadersource/Postprocessing/CombineShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Shadersource/Postprocessing/combineShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Direct Light Shader##################
RenderPass 9

VertexDeclaration 8192
Shadersource/Postprocessing/DirectLightShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/directLightShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Downsampling Shader##################
RenderPass 10

VertexDeclaration 8192
Shadersource/Postprocessing/DownsamplingShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/downsamplingShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Indirect Light Proxy Light Creation Shader##################
RenderPass 11

VertexDeclaration 8192
Shadersource/Postprocessing/IndirectLightProxyLightCreationShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/indirectLightProxyLightCreationShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Offscreen Buffer Shader##################
RenderPass 12

VertexDeclaration 8192
Shadersource/Postprocessing/OffscreenBufferShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/offscreenBufferShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Tonemapping Shader##################
RenderPass 13

VertexDeclaration 8192
Shadersource/Postprocessing/TonemappingShader
Shadersource/Postprocessing/postProcessingShader.vert
Shadersource/Postprocessing/tonemappingShader.frag
Shadersource/Postprocessing/postProcessingShader.geom
NULL
NULL

##################Histogram Shader##################
RenderPass 14

VertexDeclaration 1
Shadersource/Postprocessing/HistogramShader
Shadersource/Postprocessing/histogramShader.vert
Shadersource/Postprocessing/histogramShader.frag
NULL
NULL
NULL

####################################MISC####################################

##################Billboard Shader##################
RenderPass 15

VertexDeclaration 8192
Shadersource/Misc/BillboardShader
Shadersource/Misc/billboardShader.vert
Shadersource/Misc/billboardShader.frag
Shadersource/Misc/billboardShader.geom
NULL
NULL

##################Skybox Shader##################
RenderPass 16

VertexDeclaration 3
Shadersource/Misc/SkyboxShader
Shadersource/Misc/skyboxShader.vert
Shadersource/Misc/skyboxShader.frag
NULL
NULL
NULL

##################Srite Shader##################
RenderPass 17

VertexDeclaration 8192
Shadersource/Misc/SriteShader
Shadersource/Misc/spriteShader.vert
Shadersource/Misc/spriteShader.frag
Shadersource/Misc/spriteShader.geom
NULL
NULL

##################String 2D Shader##################
RenderPass 18

VertexDeclaration 3
Shadersource/Misc/StringShader2D
Shadersource/Misc/stringShader2D.vert
Shadersource/Misc/stringShader2D.frag
NULL
NULL
NULL