#############################################
#VertexDeclaration:
#MODEL_POSITION = 1,
#MODEL_TEXTURE0 = 2,
#MODEL_TEXTURE1 = 4,
#MODEL_TEXTURE2 = 8,
#MODEL_TEXTURE3 = 16,
#MODEL_NORMAL = 32,
#MODEL_BINORMAL = 64,
#MODEL_BONE_WEIGHTS = 128,
#MODEL_BONE_INDICES = 256,
#MODEL_COLOR = 512,
#MODEL_CACHEINDICES0 = 1024,
#MODEL_CACHEINDICES1 = 2048,
#SPECIAL0 = 4096,
#SPECIAL1 = 8192,
#SPECIAL2 = 16384,
#############################################

##################GBuffer Pass##################
RenderPass

VertexDeclaration 483
Mesh/GBufferPass/SkinnedNormalTexture
Mesh/GBufferPass/skinnedNormalTex.vert
Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 481
Mesh/GBufferPass/SkinnedNormalUniColor
Mesh/GBufferPass/skinnedNormalUniColor.vert
Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 993
Mesh/GBufferPass/SkinnedNormalVertexColor
Mesh/GBufferPass/skinnedNormalVertexColor.vert
Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 419
Mesh/GBufferPass/SkinnedTexture
Mesh/GBufferPass/skinnedTex.vert
Mesh/GBufferPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 417
Mesh/GBufferPass/SkinnedUniColor
Mesh/GBufferPass/skinnedUniColor.vert
Mesh/GBufferPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 929
Mesh/GBufferPass/SkinnedVertexColor
Mesh/GBufferPass/skinnedVertexColor.vert
Mesh/GBufferPass/VertexColor.frag
NULL
NULL
NULL

VertexDeclaration 99
Mesh/GBufferPass/StaticNormalTex
Mesh/GBufferPass/staticNormalTex.vert
Mesh/GBufferPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 97
Mesh/GBufferPass/StaticNormalUniColor
Mesh/GBufferPass/staticNormalUniColor.vert
Mesh/GBufferPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 609
Mesh/GBufferPass/StaticNormalVertexColor
Mesh/GBufferPass/staticNormalVertexColor.vert
Mesh/GBufferPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 35
Mesh/GBufferPass/StaticTex
Mesh/GBufferPass/staticTex.vert
Mesh/GBufferPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 33
Mesh/GBufferPass/StaticUniColor
Mesh/GBufferPass/staticUniColor.vert
Mesh/GBufferPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 545
Mesh/GBufferPass/StaticVertexColor
Mesh/GBufferPass/staticVertexColor.vert
Mesh/GBufferPass/VertexColor.frag
NULL
NULL
NULL

####################################INDEX PASSES####################################
##################Point Index Pass##################
RenderPass

VertexDeclaration 1
Mesh/IndexPass/StaticPointIndexShader
Mesh/IndexPass/staticPointLine.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/points.geom
NULL
NULL

VertexDeclaration 385
Mesh/IndexPass/SkinnedPointIndexShader
Mesh/IndexPass/skinnedPointLine.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/points.geom
NULL
NULL

##################Line Index Pass##################
RenderPass

VertexDeclaration 1
Mesh/IndexPass/StaticLineIndexShader
Mesh/IndexPass/staticPointLine.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/lines.geom
NULL
NULL

VertexDeclaration 385
Mesh/IndexPass/SkinnedLineIndexShader
Mesh/IndexPass/skinnedPointLine.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/lines.geom
NULL
NULL


##################Triangle Index Pass##################
RenderPass

VertexDeclaration 3457
Mesh/IndexPass/SkinnedIndexShader
Mesh/IndexPass/skinned.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/skinnedTriangles.geom
NULL
NULL

VertexDeclaration 3073
Mesh/IndexPass/StaticIndexShader
Mesh/IndexPass/static.vert
Mesh/IndexPass/index.frag
Mesh/IndexPass/staticTriangles.geom
NULL
NULL

##################ReflectiveShadowMapping Pass##################
RenderPass

VertexDeclaration 483
Mesh/ReflectiveShadowMappingPass/SkinnedNormalTexture
Mesh/ReflectiveShadowMappingPass/skinnedNormalTex.vert
Mesh/ReflectiveShadowMappingPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 481
Mesh/ReflectiveShadowMappingPass/SkinnedNormalUniColor
Mesh/ReflectiveShadowMappingPass/skinnedNormalUniColor.vert
Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 993
Mesh/ReflectiveShadowMappingPass/SkinnedNormalVertexColor
Mesh/ReflectiveShadowMappingPass/skinnedNormalVertexColor.vert
Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 419
Mesh/ReflectiveShadowMappingPass/SkinnedTexture
Mesh/ReflectiveShadowMappingPass/skinnedTex.vert
Mesh/ReflectiveShadowMappingPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 417
Mesh/ReflectiveShadowMappingPass/SkinnedUniColor
Mesh/ReflectiveShadowMappingPass/skinnedUniColor.vert
Mesh/ReflectiveShadowMappingPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 929
Mesh/ReflectiveShadowMappingPass/SkinnedVertexColor
Mesh/ReflectiveShadowMappingPass/skinnedVertexColor.vert
Mesh/ReflectiveShadowMappingPass/VertexColor.frag
NULL
NULL
NULL

VertexDeclaration 99
Mesh/ReflectiveShadowMappingPass/StaticNormalTex
Mesh/ReflectiveShadowMappingPass/staticNormalTex.vert
Mesh/ReflectiveShadowMappingPass/normalTex.frag
NULL
NULL
NULL

VertexDeclaration 97
Mesh/ReflectiveShadowMappingPass/StaticNormalUniColor
Mesh/ReflectiveShadowMappingPass/staticNormalUniColor.vert
Mesh/ReflectiveShadowMappingPass/normalUniColor.frag
NULL
NULL
NULL

VertexDeclaration 609
Mesh/ReflectiveShadowMappingPass/StaticNormalVertexColor
Mesh/ReflectiveShadowMappingPass/staticNormalVertexColor.vert
Mesh/ReflectiveShadowMappingPass/normalVertexColor.frag
NULL
NULL
NULL

VertexDeclaration 35
Mesh/ReflectiveShadowMappingPass/StaticTex
Mesh/ReflectiveShadowMappingPass/staticTex.vert
Mesh/ReflectiveShadowMappingPass/Tex.frag
NULL
NULL
NULL

VertexDeclaration 33
Mesh/ReflectiveShadowMappingPass/StaticUniColor
Mesh/ReflectiveShadowMappingPass/staticUniColor.vert
Mesh/ReflectiveShadowMappingPass/UniColor.frag
NULL
NULL
NULL

VertexDeclaration 545
Mesh/ReflectiveShadowMappingPass/StaticVertexColor
Mesh/ReflectiveShadowMappingPass/staticVertexColor.vert
Mesh/ReflectiveShadowMappingPass/VertexColor.frag
NULL
NULL
NULL

##################ShadowMapping Pass##################
RenderPass

VertexDeclaration 385
Mesh/ShadowMappingPass/SkinnedSM
Mesh/ShadowMappingPass/skinned.vert
Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

VertexDeclaration 1
Mesh/ShadowMappingPass/StaticSM
Mesh/ShadowMappingPass/static.vert
Mesh/ShadowMappingPass/zOut.frag
NULL
NULL
NULL

##################Indirect Light Interpolation Pass##################
RenderPass

VertexDeclaration 3489
Mesh/IndirectLightPass/SkinnedIndirectLightInterpolation
Mesh/IndirectLightPass/skinned.vert
Mesh/IndirectLightPass/indirectLight.frag
NULL
NULL
NULL

VertexDeclaration 3105
Mesh/IndirectLightPass/StaticIndirectLightInterpolation
Mesh/IndirectLightPass/static.vert
Mesh/IndirectLightPass/indirectLight.frag
NULL
NULL
NULL

####################################POSTPROCESSING####################################

##################Combine Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/CombineShader
Postprocessing/postProcessingShader.vert
Postprocessing/combineShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Direct Light Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/DirectLightShader
Postprocessing/postProcessingShader.vert
Postprocessing/directLightShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Downsampling Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/DownsamplingShader
Postprocessing/postProcessingShader.vert
Postprocessing/downsamplingShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Indirect Light Proxy Light Creation Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/IndirectLightProxyLightCreationShader
Postprocessing/postProcessingShader.vert
Postprocessing/indirectLightProxyLightCreationShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Offscreen Buffer Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/OffscreenBufferShader
Postprocessing/postProcessingShader.vert
Postprocessing/offscreenBufferShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Tonemapping Shader##################
RenderPass

VertexDeclaration 8192
Postprocessing/TonemappingShader
Postprocessing/postProcessingShader.vert
Postprocessing/tonemappingShader.frag
Postprocessing/postProcessingShader.geom
NULL
NULL

##################Histogram Shader##################
RenderPass

VertexDeclaration 1
Postprocessing/HistogramShader
Postprocessing/histogramShader.vert
Postprocessing/histogramShader.frag
NULL
NULL
NULL

####################################MISC####################################

##################Billboard Shader##################
RenderPass

VertexDeclaration 8192
Misc/BillboardShader
Misc/billboardShader.vert
Misc/billboardShader.frag
Misc/billboardShader.geom
NULL
NULL

##################Skybox Shader##################
RenderPass

VertexDeclaration 3
Misc/SkyboxShader
Misc/skyboxShader.vert
Misc/skyboxShader.frag
NULL
NULL
NULL

##################Srite Shader##################
RenderPass

VertexDeclaration 8192
Misc/SriteShader
Misc/spriteShader.vert
Misc/spriteShader.frag
Misc/spriteShader.geom
NULL
NULL

##################String 2D Shader##################
RenderPass

VertexDeclaration 3
Misc/StringShader2D
Misc/stringShader2D.vert
Misc/stringShader2D.frag
NULL
NULL
NULL